body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskList {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
